<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
</head>
<body>
    <h1>Employee</h1>

    <table>
        <tr><td>Emp No</td><td th:text="${employee.empNo}"></td></tr>
        <tr><td>First Name</td><td th:text="${employee.firstName}"></td></tr>
        <tr><td>Last Name</td><td th:text="${employee.lastName}"></td></tr>
        <tr><td>Gender</td><td th:text="${employee.gender}"></td></tr>
        <tr><td>Birth Date</td><td th:text="${employee.birthDate}"><td></td></tr>
        <tr><td>Hire Date</td><td th:text="${employee.hireDate}"><td></td></tr>
    </table>

</body>
</html>