<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>List of Employees</h1>

        <nav aria-label="...">

            <ul class="pagination" th:if="${result.totalPages} &gt; 0">

                <!--
                    Pastabos:
                    1) html ir url nurodomas einamojo puslapio numeris pradedant skaiciuoti nuo 1, t.y puslapiai eina 1 .. result.totalPages
                    2) result.number - ateina einamasis puslapio numeris skaiciuojant nuo 0
                -->

                <!-- Previous -->
                <li class="page-item" th:classappend="${result.first} ? disabled">
                    <span class="page-link" th:if="${result.first}">Previous</span>
                    <a class="page-link" th:if="!${result.first}" th:href="@{/employee(pageSize=${result.size}, pageNo=${result.number})}">Previous</a>
                </li>

                <!-- pirmas lapas -->
                <li class="page-item" th:classappend="${result.number} == 0 ? active">
                    <span class="page-link" th:if="${result.number} == 0">1</span>
                    <a class="page-link" th:if="${result.number} != 0" th:href="@{/employee(pageSize=${result.size}, pageNo=1)}">1</a>
                </li>

                <!-- antras lapas [2] kai 4 puslapis (1 2 3 [4]) arba [...] kai puslapis > 4 -->
                <li class="page-item" th:if="${result.number + 1} == 4"><span class="page-link">2</span></li>
                <li class="page-item" th:if="${result.number + 1} &gt; 4"><span class="page-link">...</span></li>

                <!-- viduriniai lapai (x-1 [x] x+1) -->
                <li class="page-item" th:classappend="${i} == ${result.number} ? active"
                    th:each="i: ${#numbers.sequence(result.number - 1, result.number + 1)}"
                    th:if="${i + 1} &gt; 1 and ${i + 1} &lt; ${result.totalPages}">

                    <span class="page-link" th:if="${i} == ${result.number}" th:text="${i + 1}"></span>
                    <a class="page-link" th:if="${i} != ${result.number}" th:href="@{/employee(pageSize=${result.size}, pageNo=${i + 1})}" th:text="${i + 1}"></a>
                </li>

                <!-- priespaskutinis lapas [n-1] kai ketvirtas nuo galo puslapis arba [...] kai ankstesnis -->
                <li class="page-item" th:if="${result.number + 1} == ${result.totalPages - 3}"><span class="page-link" th:text="${result.totalPages - 1}"></span></li>
                <li class="page-item" th:if="${result.number + 1} &lt; ${result.totalPages - 3}"><span class="page-link">...</span></li>

                <!-- paskutinis lapas [n] -->
                <li class="page-item" th:classappend="${result.number} == ${result.totalPages - 1} ? active">
                    <span class="page-link" th:if="${result.number} == ${result.totalPages - 1}" th:text="${result.totalPages}"></span>
                    <a class="page-link" th:if="${result.number} != ${result.totalPages - 1}" th:href="@{/employee(pageSize=${result.size}, pageNo=${result.totalPages})}" th:text="${result.totalPages}"></a>
                </li>

                <!-- Next -->
                <li class="page-item" th:classappend="${result.last} ? disabled">
                    <span th:if="${result.last}" class="page-link">Next</span>
                    <a th:if="!${result.last}" class="page-link" th:href="@{/employee(pageSize=${result.size}, pageNo=${result.number + 2})}">Next</a>
                </li>

            </ul>

        </nav>

        <table class="table">
            <tr>
                <th>Emp No</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            <tr th:each="employee : ${result.content}">
                <td><a th:href="@{/employee/{id}(id=${employee.empNo})}" th:text="${employee.empNo}"></a></td>
                <td th:text="${employee.firstName}"></td>
                <td th:text="${employee.lastName}"></td>
            </tr>

        </table>
    </div>
</body>
</html>