<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>List of Employees</h1>

        <nav aria-label="...">

            <ul class="pagination" th:if="${result.totalPages} &gt; 0">

                <li class="page-item" th:classappend="${result.first} ? disabled">
                    <span class="page-link" th:if="${result.first}">Previous</span>
                    <a class="page-link" th:if="!${result.first}" th:href="@{/employee(pageSize=${result.size}, pageNo=${result.number - 1})}">Previous</a>
                </li>

                <li class="page-item" th:classappend="${result.number} == 1 ? active">
                    <span class="page-link" th:if="${result.number} == 1">1</span>
                    <a class="page-link" th:if="${result.number} != 1" th:href="@{/employee(pageSize=${result.size}, pageNo=1)}">1</a>
                </li>

                <li class="page-item" th:if="${result.number} == 4"><span class="page-link">2</span></li>
                <li class="page-item" th:if="${result.number} &gt; 4"><span class="page-link">...</span></li>
                
                <li class="page-item" th:classappend="${i} == ${result.number} ? active"
                    th:each="i: ${#numbers.sequence(result.number - 1, result.number + 1)}"
                    th:if="${i} &gt; 1 and ${i} &lt; ${result.totalPages}">

                    <span class="page-link" th:if="${i} == ${result.number}" th:text="${i}"></span>
                    <a class="page-link" th:if="${i} != ${result.number}" th:href="@{/employee(pageSize=${result.size}, pageNo=${i})}" th:text="${i}"></a>
                </li>

                <li class="page-item" th:if="${result.number} == ${result.totalPages - 3}"><span class="page-link" th:text="${result.totalPages - 1}"></span></li>
                <li class="page-item" th:if="${result.number} &lt; ${result.totalPages - 3}"><span class="page-link">...</span></li>

                <li class="page-item" th:classappend="${result.number} == ${result.totalPages} ? active">
                    <span class="page-link" th:if="${result.number} == ${result.totalPages}" th:text="${result.totalPages}"></span>
                    <a class="page-link" th:if="${result.number} != ${result.totalPages}" th:href="@{/employee(pageSize=${result.size}, pageNo=${result.totalPages})}" th:text="${result.totalPages}"></a>
                </li>

                <li class="page-item" th:classappend="${result.last} ? disabled">
                    <span th:if="${result.last}" class="page-link">Next</span>
                    <a th:if="!${result.last}" class="page-link" th:href="@{/employee(pageSize=${result.size}, pageNo=${result.number + 1})}">Next</a>
                </li>

            </ul>

        </nav>

        <table class="table">
            <tr>
                <th>Emp No</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            <tr th:each="employee : ${result.content}">
                <td><a th:href="@{/employee/{id}(id=${employee.empNo})}" th:text="${employee.empNo}"></a></td>
                <td th:text="${employee.firstName}"></td>
                <td th:text="${employee.lastName}"></td>
            </tr>

        </table>
    </div>
</body>
</html>